@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');


body{
    background: #000;
    font-family: 'Poppins', sans-serif;
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Section__divider{
    border: 2px solid red;
    margin: 40px 20px;
    border-radius: 10px;
}

/* NAVBAR SECTION */
.Nav__Container{
    padding: 20px 40px;
    background: #000;
    position: sticky;
    z-index: 99;
}

/* HERO SECTION */
.Hero__Container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
}
.Hero__BG_svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.Hero__txt__container{
    margin-top: 60px;
    text-align: center;
}
.Digital__txt{
    font-size: 60px !important;
    font-weight: 900;
}


/* ABOUT US SECTION */
.AboutUs__Container{
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
    height: 50vh;
}

/* ACHIEVEMENT SECTION */
.Achievement__Container{
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 60vh;
}
.Achievement__Card__Container{
    display: flex;
    padding: 10px 40px;
    gap: 20px;
}
.Achievement__Card{
    border: 1px solid yellow;
    padding: 0 20px;
    border-radius: 10px;
}
.Achievement__Card p {
    width: 200px;
}

/* SERVICES SECTION */
.Services__Container{
    background: #000;
    /* height: 100vh; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
}
.Services__Card__Container{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.Service__Card{
    position: relative;
    border: 1px solid red;
    display: flex;
    align-items: center;
    padding: 20px 50px;
    width: 600px;
    border-radius: 20px;
}
.Service__circle__container{
    width: 150px;
    height: 150px;
    border-radius: 9999px;
    border: 3px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
.Outer__Circle__Container{
    background: #000;
    width: 150px;
    height: 150px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services_img_1{
    width: 60px;
}
.services_img_2{
    width: 60px;
}
.Service__Card__content__Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}


/* HERO CANVAS SECTION */
.custom-div {
    position: absolute;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    z-index: 999;
}

canvas {
    /* background: #000 !important; */

}
.Hero__Services__Container__Canvas{
    width: 500px;
    height: 400px;
    display: block;
    /* background: #000 !important; */
    overflow-x: hidden;
    overflow-y: hidden;
}
.methodology__txt{
    font-size: 45px;
    font-weight: 900;
    color: white !important;
    text-align: center;
    visibility: hidden;
}


@media screen and (max-width: 450px) {
    canvas{
        width: 300px;
    }
    .Hero__Services__Container__Canvas{
        width: 300px !important;
        overflow-x: hidden !important;
    }
    .Digital__txt{
        font-size: 28px !important;
        font-weight: 800;
    }
    .methodology__txt{
        font-size: 28px !important;
    }
    .Service__Card{
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 10px 10px;
    }
    .Service__circle__container{
        top: 0;
        left: 50%;
    }
    .Service__Card__content__Container{
        margin-top: 40px;
    }
    .Outer__Circle__Container{
        width: 100px;
        height: 100px;
    }
    .Service__circle__container{
        width: 100px;
        height: 100px;
    }
    .services_img_1{
        width: 34px;
    }
    .services_img_2{
        width: 34px;
    }
    .custom-div {
        padding: 5px 10px;
    }
}





.Section__Head__title{
    font-size:26px; font-weight:700;
    letter-spacing:5.5px; 
    text-transform:uppercase; 
    width:160px; text-align:center; 
    margin:auto; white-space:nowrap;
    position: relative;
    padding-bottom:13px;
}
.Section__Head__title:before {
    background-color: #c50000;
    content: '';
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}
.Section__Head__title:after {
    background-color: #c50000;
    content: '';
    display: block;
    position:absolute; 
    right:0; bottom:0;
    height: 3px;
    width: 75px;
}



/* SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #000;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #57c5b6;
    border-radius: 50px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #97FFEd;
}